.footer__left {
	float: left;
    
}

.copyright {
    font-family: 'FiraSans-Light';
    font-size: 14px;
    color: #9c9c9c;
    margin-top: 13px;
}

.footer__right {
	float: right;
    
}

.social__item {
	display: inline-block;
    margin-top: 10px;
    margin-left: 2px;
}

.social__link {
  /*  color: #fff;*/
}

.sprite {
    background-image: url('../../img/icons/socials.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-fb {
    width: 31px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-fb:hover {
    width: 31px;
    height: 30px;
    background-position: -46px -5px;
}

.sprite-tw {
    width: 31px;
    height: 30px;
    background-position: -5px -45px;
}

.sprite-tw:hover {
    width: 31px;
    height: 30px;
    background-position: -46px -45px;
}

.sprite-vk {
    width: 32px;
    height: 30px;
    background-position: -87px -5px;
}

.sprite-vk:hover {
    width: 32px;
    height: 30px;
    background-position: -87px -45px;
}